.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.centered {
    text-align: center;
    background-color: red;
    padding: 20px;
}

body {
    font-size: 16px;
    color: seagreen;
    font-family: courier;
    font-weight: normal;
    background-color: lightsteelblue;
}

button {
    font-size: 16px;
    color: orangered;
    font-family: courier;
    font-weight: bold;
}