.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.centered {
    text-align: center;
    background-color: red;
    padding: 20px;
}

body {
    font-size: 16px;
    color: darkgreen;
    font-family: courier;
    font-weight: bold;
    background-color: darkseagreen;
}

button {
    font-size: 16px;
    color: darkblue;
    font-family: courier;
    font-weight: bold;
}

#jstree{
    height: length|percentage|auto|initial|inherit;
    margin: 0px 0px 30px 0px;
}

